//TIPOGRAFIA
$fuente1: 'Anek Latin', sans-serif;
$fuente2: 'Open Sans', sans-serif;
$fuente3: 'PT Sans', sans-serif;
$fuente4: 'Satisfy', cursive;
//COLORES
$negro: #000000;
$blanco: #ffffff;
$blancoRoto: #f6f5f2;
$cafe: #893d1e;
$gris: #5e5e5e;
$grisPiedra: #ccc3b9;
//TAMAÑO DE MEDIA QUERIES
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;